@import url('./reset.css');

@media print {
  body * {
    visibility: hidden;
  }
  #map,
  #map * {
    visibility: visible;
  }
  #map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
